@media (prefers-color-scheme: dark) {
    .navbar-item.navbar-logo img{
        content:url("/meta-img/logo-dark.svg");
    }
    .footer-logo img{
        content:url("/meta-img/logo-dark.svg");
    }

    .card {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    }
}